/* line 3, ../../compass/sass/_bgmain.scss */
.main-wrapper {
  background: url("/assets/gifs/main-bg.gif");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -9em;
  z-index: 0;
}
@media (max-width: 1500px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 847px;
  }
}
/* line 15, ../../compass/sass/_bgmain.scss */
.main-wrapper .btn {
  margin-top: 16em !important;
}
/* line 19, ../../compass/sass/_bgmain.scss */
.main-wrapper .btn-dark {
  background: url("/assets/images/sci_fi_texture.png");
  color: #ddd;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
}

/* line 1, ../../compass/sass/_play.scss */
* {
  color: white;
  font-family: 'Ek Mukta', sans-serif;
}

/* line 8, ../../compass/sass/_play.scss */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  /*preserve aspect ration */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* line 19, ../../compass/sass/_play.scss */
audio {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 27, ../../compass/sass/_play.scss */
.header {
  color: white;
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif !important;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 47, ../../compass/sass/_play.scss */
#health {
  float: right;
  margin-right: 394px;
  font-size: 20px;
}

/* line 53, ../../compass/sass/_play.scss */
#userHealth, #alienHealth {
  color: black;
}

/* line 57, ../../compass/sass/_play.scss */
#message {
  font-size: 20px;
  background: black;
  color: white;
}

/* line 63, ../../compass/sass/_play.scss */
#bars {
  background: green;
  display: flex;
  font-size: 17px;
  padding: 10px;
}

/* line 71, ../../compass/sass/_play.scss */
#dice {
  margin-top: 10px;
}

/* line 76, ../../compass/sass/_play.scss */
.btn {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/* line 83, ../../compass/sass/_play.scss */
.btn a {
  text-decoration: none;
  color: black !important;
}

/* line 90, ../../compass/sass/_play.scss */
.progress {
  padding-right: 45px;
}

/* line 94, ../../compass/sass/_play.scss */
p {
  font-size: 15px;
}

/*MEDIA QUERIES*/
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  /* line 106, ../../compass/sass/_play.scss */
  h1 {
    margin-left: 0em;
    text-align: center;
  }

  /* line 111, ../../compass/sass/_play.scss */
  #alien img {
    width: 75%;
  }
}
@media only screen and (max-device-width: 375px) {
  /* line 123, ../../compass/sass/_play.scss */
  h1 {
    margin-left: 0em;
    text-align: center;
  }

  /* line 128, ../../compass/sass/_play.scss */
  #alien img {
    width: 75%;
  }
}
@media only screen and (min-device-width: 1024px) {
  /* line 139, ../../compass/sass/_play.scss */
  h1 {
    margin-top: 1em;
    padding-bottom: 1em;
  }

  /* line 144, ../../compass/sass/_play.scss */
  #alien img {
    width: auto;
    margin: auto;
  }
}
/* line 3, ../../compass/sass/_footer.scss */
.main-footer {
  background: #111111;
  font-family: 'Anton', sans-serif;
  line-height: -1em;
  padding-top: 1em;
  margin-top: -3em;
}
@media (max-width: 736px) {
  /* line 3, ../../compass/sass/_footer.scss */
  .main-footer {
    font-size: 0.5em;
  }
}

/* line 3, ../../compass/sass/_scene.scss */
.scene-wrapper {
  background: url("/assets/images/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -9em;
  z-index: 0;
}
@media (max-width: 736px) {
  /* line 3, ../../compass/sass/_scene.scss */
  .scene-wrapper {
    min-height: 600px;
  }
}
/* line 15, ../../compass/sass/_scene.scss */
.scene-wrapper .scene-card {
  margin-top: 13em;
  border: white !important;
}
/* line 18, ../../compass/sass/_scene.scss */
.scene-wrapper .scene-card .scene-bottom {
  height: 16em;
  margin-top: 10em;
  top: 23em !important;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
@media (max-width: 736px) {
  /* line 18, ../../compass/sass/_scene.scss */
  .scene-wrapper .scene-card .scene-bottom {
    margin-top: 1em !important;
  }
}
/* line 30, ../../compass/sass/_scene.scss */
.scene-wrapper .scene-card .scene-bottom .place {
  font-size: 18px;
  margin-top: -19em;
}
/* line 35, ../../compass/sass/_scene.scss */
.scene-wrapper .scene-card .scene-text {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
@media (max-width: 1199px) {
  /* line 35, ../../compass/sass/_scene.scss */
  .scene-wrapper .scene-card .scene-text {
    font-size: 18px;
  }
}
@media (max-width: 736px) {
  /* line 35, ../../compass/sass/_scene.scss */
  .scene-wrapper .scene-card .scene-text {
    font-size: 1.4em;
  }
}
/* line 47, ../../compass/sass/_scene.scss */
.scene-wrapper .scene-button {
  margin-top: 64em;
}
@media (max-width: 1199px) {
  /* line 47, ../../compass/sass/_scene.scss */
  .scene-wrapper .scene-button {
    margin-top: 71em;
  }
}
@media (max-width: 736px) {
  /* line 47, ../../compass/sass/_scene.scss */
  .scene-wrapper .scene-button {
    margin-top: 89em;
  }
}
/* line 58, ../../compass/sass/_scene.scss */
.scene-wrapper .continue {
  background: url("/assets/images/sci_fi_texture.png");
  color: #ddd;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
  position: relative;
  top: 12em;
  left: 12em;
}

/* line 3, ../../compass/sass/_convo.scss */
.convo-wrapper {
  background: url("/assets/images/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -9em;
  z-index: 0;
}
/* line 13, ../../compass/sass/_convo.scss */
.convo-wrapper .img-fluid {
  height: 20em;
  width: 20em;
  margin-top: 2em;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 23, ../../compass/sass/_convo.scss */
.convo-wrapper .speaker1, .convo-wrapper .speaker2, .convo-wrapper .side-text {
  margin-top: 10em;
  background: transparent;
}
/* line 33, ../../compass/sass/_convo.scss */
.convo-wrapper .header {
  font-family: 'Orbitron', sans-serif !important;
  letter-spacing: 1px;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
}
/* line 39, ../../compass/sass/_convo.scss */
.convo-wrapper .header-2 {
  margin-left: 38.8em;
}
/* line 43, ../../compass/sass/_convo.scss */
.convo-wrapper .convo-side {
  height: 17em;
  margin-top: 0em;
  top: 23em !important;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 54, ../../compass/sass/_convo.scss */
.convo-wrapper .convo-text {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
/* line 60, ../../compass/sass/_convo.scss */
.convo-wrapper .btn-secondary {
  background-color: transparent;
  border-color: #868e96;
}
/* line 63, ../../compass/sass/_convo.scss */
.convo-wrapper .btn-secondary:hover {
  background-color: #464a4e;
}

/* line 1, ../../compass/sass/_loginnav.scss */
.lognav-wrapper {
  background: url("/assets/images/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -2em;
  z-index: 0;
}
@media (max-width: 1100px) {
  /* line 1, ../../compass/sass/_loginnav.scss */
  .lognav-wrapper {
    min-height: 847px;
  }
}
/* line 13, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .lognav-content {
  margin-top: 16em;
}

/* line 9, ../../compass/sass/styles.scss */
.efaGep {
  color: #39CCCC !important;
}
