@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
/* line 1, ../../compass/sass/styles.scss */
* {
  font-family: 'Ek Mukta', sans-serif;
}

/* line 3, ../../compass/sass/_bgmain.scss */
.main-wrapper {
  background: url("/assets/gifs/main-bg.gif");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 78em;
  margin-top: -9em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 82em;
    margin-top: 0em;
  }
}
@media (min-width: 1600px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 82em;
  }
}
@media (min-width: 1700px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 87em;
  }
}
@media (min-width: 1800px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 91em;
  }
}
/* line 30, ../../compass/sass/_bgmain.scss */
.main-wrapper .btn-dark {
  background: url("/assets/images/sci_fi_texture.png");
  color: #ddd;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
}

/* line 2, ../../compass/sass/_play.scss */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  /*preserve aspect ration */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* line 13, ../../compass/sass/_play.scss */
audio {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 21, ../../compass/sass/_play.scss */
.header {
  color: white;
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif !important;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 41, ../../compass/sass/_play.scss */
#health {
  float: right;
  margin-right: 394px;
  font-size: 20px;
}

/* line 47, ../../compass/sass/_play.scss */
#userHealth, #alienHealth {
  color: black;
}

/* line 51, ../../compass/sass/_play.scss */
#message {
  font-size: 20px;
  background: black;
  color: white;
}

/* line 57, ../../compass/sass/_play.scss */
#bars {
  background: green;
  display: flex;
  font-size: 17px;
  padding: 10px;
}

/* line 65, ../../compass/sass/_play.scss */
#dice {
  margin-top: 10px;
}

/* line 70, ../../compass/sass/_play.scss */
.btn {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/* line 77, ../../compass/sass/_play.scss */
.btn a {
  text-decoration: none;
  color: black !important;
}

/* line 84, ../../compass/sass/_play.scss */
.progress {
  padding-right: 45px;
}

/* line 88, ../../compass/sass/_play.scss */
p {
  font-size: 15px;
}

/*MEDIA QUERIES*/
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  /* line 100, ../../compass/sass/_play.scss */
  h1 {
    margin-left: 0em;
    text-align: center;
  }

  /* line 105, ../../compass/sass/_play.scss */
  #alien img {
    width: 75%;
  }
}
@media only screen and (max-device-width: 375px) {
  /* line 117, ../../compass/sass/_play.scss */
  h1 {
    margin-left: 0em;
    text-align: center;
  }

  /* line 122, ../../compass/sass/_play.scss */
  #alien img {
    width: 75%;
  }
}
@media only screen and (min-device-width: 1024px) {
  /* line 133, ../../compass/sass/_play.scss */
  h1 {
    margin-top: 1em;
    padding-bottom: 1em;
  }

  /* line 138, ../../compass/sass/_play.scss */
  #alien img {
    width: auto;
    margin: auto;
  }
}
/* line 3, ../../compass/sass/_footer.scss */
.main-footer {
  background: #111111;
  font-family: 'Anton', sans-serif;
  line-height: -1em;
  padding-top: 1em;
  font-size: 15px;
}

/* line 3, ../../compass/sass/_scene.scss */
.scene-wrapper1 {
  background: url("/assets/images/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -9em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 3, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 82em;
    margin-top: 0em;
  }
}
@media (min-width: 1600px) {
  /* line 3, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 82em;
  }
}
@media (min-width: 1700px) {
  /* line 3, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 87em;
  }
}
@media (min-width: 1800px) {
  /* line 3, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 91em;
  }
}
@media (max-width: 736px) {
  /* line 3, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 600px;
  }
}
/* line 33, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene {
  top: -10rem;
}
/* line 37, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card {
  margin-top: 13em;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
}
/* line 41, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card .scene-bottom {
  height: 16em;
  margin-top: 10em;
  top: 23em !important;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
@media (max-width: 736px) {
  /* line 41, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-card .scene-bottom {
    margin-top: 1em !important;
  }
}
/* line 53, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card .scene-bottom .place {
  font-size: 18px;
  margin-top: -19em;
}
/* line 59, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card .scene-text .s_text {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
@media (max-width: 1199px) {
  /* line 59, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-card .scene-text .s_text {
    font-size: 18px;
  }
}
@media (max-width: 736px) {
  /* line 59, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-card .scene-text .s_text {
    font-size: 1.4em;
  }
}
/* line 72, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-button {
  margin-top: 64em;
}
@media (max-width: 1199px) {
  /* line 72, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-button {
    margin-top: 71em;
  }
}
@media (max-width: 736px) {
  /* line 72, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-button {
    margin-top: 89em;
  }
}
/* line 80, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-button .btn:focus {
  color: lightgray !important;
}
/* line 85, ../../compass/sass/_scene.scss */
.scene-wrapper1 a {
  text-decoration: none;
}
/* line 87, ../../compass/sass/_scene.scss */
.scene-wrapper1 a .continue {
  background: url("/assets/images/sci_fi_texture.png");
  color: #ddd;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
  position: relative;
  top: 12em;
  left: 12em;
}
/* line 98, ../../compass/sass/_scene.scss */
.scene-wrapper1 a .continue:hover {
  color: #969494;
}

/* line 3, ../../compass/sass/_convo.scss */
.convo-wrapper {
  background: url("/assets/images/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -9em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 3, ../../compass/sass/_convo.scss */
  .convo-wrapper {
    min-height: 82em;
    margin-top: 0em;
  }
}
/* line 19, ../../compass/sass/_convo.scss */
.convo-wrapper .img-fluid {
  height: 20em;
  width: 20em;
  margin-top: 2em;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 29, ../../compass/sass/_convo.scss */
.convo-wrapper .speaker1, .convo-wrapper .speaker2, .convo-wrapper .side-text {
  margin-top: 10em;
  background: transparent;
}
/* line 39, ../../compass/sass/_convo.scss */
.convo-wrapper .header {
  font-family: 'Orbitron', sans-serif !important;
  letter-spacing: 1px;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
}
/* line 45, ../../compass/sass/_convo.scss */
.convo-wrapper .header-2 {
  margin-left: 38.8em;
}
/* line 49, ../../compass/sass/_convo.scss */
.convo-wrapper .convo-side {
  margin-top: 0em;
  top: 23em !important;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 60, ../../compass/sass/_convo.scss */
.convo-wrapper .convo-text {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
/* line 66, ../../compass/sass/_convo.scss */
.convo-wrapper .btn-secondary {
  background-color: transparent;
  border-color: #868e96;
  width: 100%;
}
/* line 70, ../../compass/sass/_convo.scss */
.convo-wrapper .btn-secondary:hover {
  background-color: #464a4e;
}

/* line 3, ../../compass/sass/_loginnav.scss */
.lognav-wrapper {
  margin-top: 25em;
  margin-left: 24em;
  margin-right: -8em;
}
/* line 8, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .row-nav {
  height: 41em;
  background: transparent;
}
/* line 13, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs, .lognav-wrapper .lognav-content {
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 27, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs {
  height: 6.2em;
}
/* line 30, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs {
  border: none !important;
}
/* line 32, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #040404;
}
/* line 37, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs .nav-link.active, .lognav-wrapper .logtabs .nav-tabs .nav-link {
  border-color: transparent;
}
/* line 39, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs .nav-link.active:hover, .lognav-wrapper .logtabs .nav-tabs .nav-link:hover {
  color: #969494;
  background-color: transparent;
  cursor: pointer;
}
/* line 47, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-item {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
/* line 54, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .lognav-content {
  height: 33em;
  margin-top: -1em;
}
/* line 57, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .lognav-content .register-tab {
  height: 25em;
}

/* line 5, ../../compass/sass/_login.scss */
.login-wrapper .demoForm {
  width: 500px;
  margin: auto;
  color: black;
}
/* line 11, ../../compass/sass/_login.scss */
.login-wrapper .panel-default {
  border-color: transparent;
  margin-bottom: -6px;
  text-align: center;
  background-color: transparent;
}
/* line 16, ../../compass/sass/_login.scss */
.login-wrapper .panel-default .formErrors {
  display: flex;
}
/* line 18, ../../compass/sass/_login.scss */
.login-wrapper .panel-default .formErrors p {
  color: red;
  padding-left: 1em;
}
/* line 26, ../../compass/sass/_login.scss */
.login-wrapper button, .login-wrapper html [type="button"], .login-wrapper [type="reset"], .login-wrapper [type="submit"] {
  -webkit-appearance: none;
}
/* line 30, ../../compass/sass/_login.scss */
.login-wrapper .login-card {
  height: 18em;
  background: transparent !important;
}
/* line 34, ../../compass/sass/_login.scss */
.login-wrapper .login-card .login-content label, .login-wrapper .login-card .login-content input {
  color: #74f9fc;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
/* line 40, ../../compass/sass/_login.scss */
.login-wrapper .login-card .login-content input {
  background: black;
  color: white;
}
/* line 48, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button[disabled] {
  cursor: not-allowed;
  opacity: .65;
}
/* line 51, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button[disabled] a {
  pointer-events: none;
}
/* line 56, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button {
  margin-top: 3em;
  margin-left: 0em;
  display: block;
  text-align: center;
  border-width: 1px 0px 1px 0;
  border-style: solid;
  border-image: linear-gradient(to left, transparent, #74f9fc, transparent);
  border-image-slice: 1;
  cursor: pointer;
}
/* line 67, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button .text {
  letter-spacing: 10px;
}
/* line 69, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button .text a {
  text-decoration: none;
}
/* line 78, ../../compass/sass/_login.scss */
.login-wrapper .login-card .register .button {
  margin-top: 2em;
}

/* line 3, ../../compass/sass/_gamebuttons.scss */
.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-family: "Orbitron", sans-serif !important;
  font-size: 1.8rem;
  padding: 16px 30px 12px 24px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: red;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em grey;
  cursor: pointer;
  letter-spacing: 3px;
}

/* line 23, ../../compass/sass/_gamebuttons.scss */
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

/* line 6, ../../compass/sass/_game.scss */
.game-wrapper {
  background: url("/assets/gifs/game-gifs/outer-space4.gif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  min-height: 88em;
  margin-top: -6em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 88em;
  }
}
@media (min-width: 1600px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 82em;
  }
}
@media (min-width: 1700px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 87em;
  }
}
@media (min-width: 1800px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 91em;
  }
}
/* line 32, ../../compass/sass/_game.scss */
.game-wrapper button {
  border-color: transparent !important;
}
/* line 36, ../../compass/sass/_game.scss */
.game-wrapper .fightscreen {
  color: red;
  height: 40rem;
  width: 10rem;
  background: rgba(9, 12, 39, 0.7);
  border: 4px solid #d9edf7;
  border-style: ridge;
  font-family: "Orbitron", sans-serif !important;
  font-size: 8rem;
  margin: auto;
  padding: 3rem;
  text-align: center;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  width: 80%;
}
/* line 51, ../../compass/sass/_game.scss */
.game-wrapper .fightscreen .fight-text {
  font-family: "Orbitron", sans-serif !important;
}
/* line 57, ../../compass/sass/_game.scss */
.game-wrapper .pause {
  z-index: 100;
}
/* line 59, ../../compass/sass/_game.scss */
.game-wrapper .pause .pause-text {
  font-family: "Orbitron", sans-serif !important;
  text-align: center;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}
/* line 67, ../../compass/sass/_game.scss */
.game-wrapper .game-container {
  background: rgba(9, 12, 39, 0.7);
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
  max-width: 141rem;
}
/* line 81, ../../compass/sass/_game.scss */
.game-wrapper .row1 {
  height: 6em;
  margin: 0.5em;
}
/* line 87, ../../compass/sass/_game.scss */
.game-wrapper .row1 .instructions {
  height: 5em;
}
/* line 91, ../../compass/sass/_game.scss */
.game-wrapper .row1 .countdown {
  float: right;
  font-size: 3rem;
  font-family: "Orbitron", sans-serif !important;
  padding: 0.5rem;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}
/* line 102, ../../compass/sass/_game.scss */
.game-wrapper .row2 {
  height: 33em;
  padding-top: 1rem;
}
/* line 108, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card, .game-wrapper .row2 .player-card {
  height: 23em;
  width: 20em;
  color: white !important;
}
/* line 112, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card, .game-wrapper .row2 .player-card .card {
  border-style: ridge;
  text-transform: uppercase;
}
/* line 115, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card .card-header, .game-wrapper .row2 .enemy-card .card .card-footer, .game-wrapper .row2 .player-card .card .card-header, .game-wrapper .row2 .player-card .card .card-footer {
  font-family: 'Exo 2', sans-serif;
}
/* line 118, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card .card-header, .game-wrapper .row2 .player-card .card .card-header {
  font-size: 1.5rem;
}
/* line 124, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card img, .game-wrapper .row2 .player-card img {
  height: 15em;
  margin-top: -0.4em;
}
/* line 133, ../../compass/sass/_game.scss */
.game-wrapper .row2 .player-card .card {
  border: 4px solid #0c4fab !important;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #0c4fab, 0 0 20px #0c4fab, 0 0 0px #ededf7;
  text-transform: uppercase;
}
/* line 137, ../../compass/sass/_game.scss */
.game-wrapper .row2 .player-card .card .card-header, .game-wrapper .row2 .player-card .card .card-footer {
  background: -webkit-radial-gradient(center, ellipse cover, #3171ca 0%, #080618 91%, #080618 100%) !important;
}
/* line 148, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card {
  border: 4px solid #a94442 !important;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #dc3545, 0px 0px 0px #dc3545, 0 0 20px #dc3545, 0 0 0px #ededf7;
}
/* line 152, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card-header, .game-wrapper .row2 .enemy-card .card-footer {
  background: -webkit-radial-gradient(center, ellipse cover, #732930 0%, #0a0909 98%, #ef0d23 100%) !important;
}
/* line 158, ../../compass/sass/_game.scss */
.game-wrapper .row2 .dice {
  height: 7em;
  text-align: center;
  margin-top: 40em;
}
/* line 163, ../../compass/sass/_game.scss */
.game-wrapper .row2 .playerProgress, .game-wrapper .row2 .enemyProgress {
  margin: auto;
  font-size: 1.35rem;
  color: white;
  text-transform: uppercase;
}
/* line 173, ../../compass/sass/_game.scss */
.game-wrapper .row3 {
  height: 20em;
}
/* line 4, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck, .game-wrapper .row3 .player-deck {
  height: 19em;
}
/* line 7, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .p-5, .game-wrapper .row3 .player-deck .p-5 {
  width: 14rem;
}
/* line 11, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck {
  float: right;
}
/* line 15, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck {
  float: left;
}
/* line 16, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck {
  position: relative;
}
/* line 18, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck .deck-item {
  right: 4%;
  margin-top: -1.2em;
  position: absolute;
}
/* line 27, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .card {
  width: 100%;
}
/* line 32, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deal img {
  height: 9.2rem;
}
/* line 37, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card {
  border: 4px solid #0c4fab;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #0c4fab, 0 0 20px #0c4fab, 0 0 0px #ededf7;
  color: white;
  height: 19rem;
  text-transform: uppercase;
}
/* line 44, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card .card-header, .game-wrapper .row3 .player-deck .player-deck-card .card-footer {
  font-family: 'Exo 2', sans-serif;
  background: -webkit-radial-gradient(center, ellipse cover, #3171ca 0%, #080618 91%, #080618 100%) !important;
}
/* line 48, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card .card-footer {
  margin: auto;
}
/* line 51, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card .card-header {
  font-size: 1.5rem;
}
/* line 185, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen {
  margin-top: -34em;
  margin-left: -1em;
  width: 40em;
}
/* line 190, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-detail, .game-wrapper .row3 .attack-screen .attack-image, .game-wrapper .row3 .attack-screen .message {
  background-color: rgba(152, 153, 156, 0.7);
  border: 2px solid gray;
  border-style: ridge;
}
/* line 196, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-detail {
  height: 5em;
}
/* line 199, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-image {
  height: 27em;
}
/* line 202, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .message {
  font-family: "Orbitron", sans-serif !important;
  font-size: 1.6rem;
  letter-spacing: 3px;
  height: 3em;
  text-align: center;
}
/* line 217, ../../compass/sass/_game.scss */
.game-wrapper .row4 {
  height: 20em;
}
/* line 219, ../../compass/sass/_game.scss */
.game-wrapper .row4 .card {
  width: 23% !important;
}
/* line 225, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions {
  margin: auto;
}
/* line 227, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-card {
  border: 4px solid #127d2a;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #3c763d, 0px 0px 0px #28a745, 0 0 20px #5cca5e, 0 0 0px #ededf7;
  color: white;
  height: 19rem;
  text-transform: uppercase;
}
/* line 233, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-card img {
  height: 79%;
}
/* line 236, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-card .card-header {
  font-family: 'Exo 2', sans-serif;
  background: -webkit-radial-gradient(center, ellipse cover, #28a745 0%, #0a0909 98%, #0def48 100%) !important;
}
/* line 240, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-card .card-footer {
  margin: auto;
  position: relative;
  top: -6rem;
  background: transparent;
}
/* line 246, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-card .card-header {
  font-size: 1.5rem;
}
/* line 250, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .start-btn {
  padding: 6px !important;
}
/* line 255, ../../compass/sass/_game.scss */
.game-wrapper .row4 .buttons {
  margin-top: 5rem;
}

/* line 4, ../../compass/sass/_button.scss */
.text {
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 1em;
  color: #74f9fc;
  text-shadow: 0 0 13px #17a2b88a, 0 0 32px #17a2b89e;
  display: block;
  margin-bottom: -4px;
  margin-top: 1px;
}

/* line 16, ../../compass/sass/_button.scss */
.line-container {
  width: 230px;
  margin: auto;
  position: relative;
}

/* line 23, ../../compass/sass/_button.scss */
.line {
  position: absolute;
}

/* line 28, ../../compass/sass/_button.scss */
.line--thick {
  width: 6px;
  background-color: #74f9fc;
}

/* line 34, ../../compass/sass/_button.scss */
.line--thin {
  position: absolute;
  height: 1px;
  background: linear-gradient(to left, rgba(199, 255, 247, 0.8), rgba(0, 224, 203, 0.4), rgba(0, 193, 224, 0.4), rgba(0, 193, 224, 0.4), rgba(199, 239, 255, 0.8));
}

/* line 43, ../../compass/sass/_button.scss */
.thick-line--short {
  height: 15px;
  top: -16px;
}

/* line 49, ../../compass/sass/_button.scss */
.thick-line--long {
  height: 40px;
  top: -1px;
}

/* line 55, ../../compass/sass/_button.scss */
.line--top-right {
  right: 0;
  transform: skew(45deg);
  box-shadow: 0px 0px 13px #17a2b87a, -12px -8px 25px 3px #17a2b87a;
}

/* line 62, ../../compass/sass/_button.scss */
.line--top-left {
  left: 0px;
  transform: skew(-45deg);
  box-shadow: 12px -8px 25px 3px #17a2b8b8, 0px 0px 13px #17a2b8a6;
}

/* line 69, ../../compass/sass/_button.scss */
.line--bottom-right {
  right: 12px;
  transform: skew(-45deg);
  box-shadow: -12px 3px 22px 3px #17a2b8b5, 0px 0px 13px #17a2b8b5;
}

/* line 76, ../../compass/sass/_button.scss */
.line--bottom-left {
  left: 12px;
  transform: skew(45deg);
  box-shadow: 12px 3px 22px 3px #17a2b8c2, 0px 0px 13px #17a2b8b3;
}

/* line 83, ../../compass/sass/_button.scss */
.line--top {
  width: 214px;
  top: -17px;
  left: 8px;
  box-shadow: 0px 5px 34px 5px #17a2b857;
}

/* line 91, ../../compass/sass/_button.scss */
.line--bottom {
  width: 160px;
  top: 38px;
  left: 35px;
  box-shadow: 0px -5px 34px 5px #17a2b84f;
}

/* line 98, ../../compass/sass/_button.scss */
.pseudo-class-shadow, .line-container::before, .line-container::after, .line--top-left::before, .line--top-left::after, .line--top-right::before, .line--top-right::after, .line--bottom-right::before, .line--bottom-right::after, .line--bottom-left::before, .line--bottom-left::after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
}

/* line 106, ../../compass/sass/_button.scss */
.line-container::before {
  width: 40px;
  box-shadow: -20px 10px 45px 4px #74f9fc;
}

/* line 111, ../../compass/sass/_button.scss */
.line-container::after {
  width: 40px;
  box-shadow: 207px -12px 45px 4px #17a2b8bf;
}

/* line 117, ../../compass/sass/_button.scss */
.line--top-left::before {
  box-shadow: 28px 20px 34px 3px #17a2b87a;
}

/* line 121, ../../compass/sass/_button.scss */
.line--top-left::after {
  box-shadow: 48px 20px 34px 3px #17a2b87a;
}

/* line 126, ../../compass/sass/_button.scss */
.line--top-right::before {
  box-shadow: -48px 20px 34px 3px #17a2b8bd;
}

/* line 131, ../../compass/sass/_button.scss */
.line--top-right::after {
  box-shadow: -58px 20px 34px 3px #17a2b8ba;
}

/* line 136, ../../compass/sass/_button.scss */
.line--bottom-right::before {
  box-shadow: -42px 9px 44px 5px #17a2b89e;
}

/* line 141, ../../compass/sass/_button.scss */
.line--bottom-right::after {
  box-shadow: -52px 10px 44px 5px #17a2b88f;
}

/* line 146, ../../compass/sass/_button.scss */
.line--bottom-left::before {
  box-shadow: 32px 10px 44px 5px #17a2b88a;
}

/* line 151, ../../compass/sass/_button.scss */
.line--bottom-left::after {
  box-shadow: 42px 10px 44px 5px #17a2b88a;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* line 44, ../../compass/sass/_hover.scss */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 51, ../../compass/sass/_hover.scss */
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* line 16, ../../compass/sass/_map.scss */
.map-wrapper {
  background: url("/assets/bg/scifi-texture.jpg");
  background-size: contain;
  background-position: center;
  height: 100%;
  min-height: 772px;
  margin-top: -9em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 16, ../../compass/sass/_map.scss */
  .map-wrapper {
    min-height: 85em;
    margin-top: 0em;
  }
}
/* line 30, ../../compass/sass/_map.scss */
.map-wrapper .button {
  cursor: pointer;
}
/* line 32, ../../compass/sass/_map.scss */
.map-wrapper .button .text {
  letter-spacing: 5px;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
/* line 40, ../../compass/sass/_map.scss */
.map-wrapper .grid {
  margin-top: 6em;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid gray;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 49, ../../compass/sass/_map.scss */
.map-wrapper .grid .row {
  border: gray;
}
/* line 51, ../../compass/sass/_map.scss */
.map-wrapper .grid .row .cell {
  border: 1px dotted #cccccc85;
  background: transparent;
  height: 8em;
}
@media (min-width: 1360px) {
  /* line 51, ../../compass/sass/_map.scss */
  .map-wrapper .grid .row .cell {
    height: 7em;
  }
}
/* line 65, ../../compass/sass/_map.scss */
.map-wrapper .orb {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%) rotate(30deg);
  width: 50px;
  height: 50px;
  box-shadow: 1px 10px 50px -20px, inset -1px 30px 50px -10px #fff, inset -1px -30px 50px -10px #210, inset 0 120px 7px -70px rgba(255, 255, 240, 0.2);
  z-index: 0;
  cursor: pointer;
}
/* line 87, ../../compass/sass/_map.scss */
.map-wrapper .orbs {
  -webkit-filter: blur(1px) contrast(20) blur(15px);
  cursor: pointer;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  box-shadow: 0 0 50px -20px #7cc2fb;
  z-index: 40;
}
/* line 103, ../../compass/sass/_map.scss */
.map-wrapper .orbs:before {
  -webkit-filter: blur(8px);
  content: '';
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  opacity: 0.8;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  animation: spin2 6s infinite linear;
  background-color: #7cc2fb;
  background-image: linear-gradient(transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%), linear-gradient(90deg, transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%);
  z-index: 10;
  box-shadow: 0 0 50px -20px #7cc2fb;
}
/* line 132, ../../compass/sass/_map.scss */
.map-wrapper .orbs:after {
  -webkit-filter: blur(5px);
  content: '';
  display: block;
  position: absolute;
  opacity: 0.5;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 200px;
  height: 200px;
  animation: spin1 10s infinite linear;
  background: linear-gradient(transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%), linear-gradient(90deg, transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%);
  z-index: 10;
  box-shadow: 0 0 50px -20px #7cc2fb;
}
@keyframes spin1 {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@keyframes spin2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
/* line 4, ../../compass/sass/_loader.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 8, ../../compass/sass/_loader.scss */
html, body {
  font-family: "Press Start 2P", Arial, sans-serif;
  background: #202020;
}

/* line 14, ../../compass/sass/_loader.scss */
.preload {
  background: black;
  margin: auto;
  width: 28em;
}
/* line 19, ../../compass/sass/_loader.scss */
.preload .preload-status {
  overflow: hidden;
  height: 50px;
  border-left: 2px solid #3d3d3d;
  border-right: 2px solid #3d3d3d;
}
/* line 26, ../../compass/sass/_loader.scss */
.preload .preload-status-bar {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background: #74f9fc;
  border: 1px solid #2f99ff;
  box-shadow: 0px 0px 4px 1px #2F92FF;
  left: -200px;
  animation: preload-status-animate 1.5s infinite cubic-bezier(0.75, 0, 0.25, 1);
}
/* line 38, ../../compass/sass/_loader.scss */
.preload .preload-status-info {
  opacity: 1;
  margin-top: -22px;
  width: 100%;
  height: 30px;
  font-family: "Press Start 2P", Arial, sans-serif;
  text-align: center;
  color: #74f9fc;
  text-shadow: 0px 1px #255fcc;
  animation: preload-status-animate-2 1.5s infinite cubic-bezier(0.75, 0, 0.25, 1);
}
@keyframes preload-status-animate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}
@keyframes preload-status-animate-2 {
  100% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
/* line 24, ../../compass/sass/styles.scss */
.efaGep {
  color: #39CCCC !important;
}

/* line 30, ../../compass/sass/styles.scss */
.audio {
  display: none;
}
