@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
/* line 1, ../../compass/sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../../compass/sass/styles.scss */
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* line 3, ../../compass/sass/_bgmain.scss */
.main-wrapper {
  background: url("/assets/gifs/main-bg.gif");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 75em;
  margin-top: -9em;
  z-index: 0;
  overflow-y: hidden;
}
/* line 13, ../../compass/sass/_bgmain.scss */
.main-wrapper .preload {
  position: relative;
  top: 35rem;
}
@media (min-width: 1440px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 76em;
    margin-top: 0em;
  }
}
@media (min-width: 1600px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 82em;
  }
}
@media (min-width: 1700px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 87em;
  }
}
@media (min-width: 1800px) {
  /* line 3, ../../compass/sass/_bgmain.scss */
  .main-wrapper {
    min-height: 91em;
  }
}
/* line 36, ../../compass/sass/_bgmain.scss */
.main-wrapper .btn-dark {
  background: url("/assets/bg/sci_fi_texture.png");
  color: #ddd;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
}

/* line 2, ../../compass/sass/_play.scss */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  /*preserve aspect ration */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* line 13, ../../compass/sass/_play.scss */
audio {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 21, ../../compass/sass/_play.scss */
.header {
  color: white;
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif !important;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 41, ../../compass/sass/_play.scss */
#health {
  float: right;
  margin-right: 394px;
  font-size: 20px;
}

/* line 47, ../../compass/sass/_play.scss */
#userHealth, #alienHealth {
  color: black;
}

/* line 51, ../../compass/sass/_play.scss */
#message {
  font-size: 20px;
  background: black;
  color: white;
}

/* line 57, ../../compass/sass/_play.scss */
#bars {
  background: green;
  display: flex;
  font-size: 17px;
  padding: 10px;
}

/* line 65, ../../compass/sass/_play.scss */
#dice {
  margin-top: 10px;
}

/* line 70, ../../compass/sass/_play.scss */
.btn {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/* line 77, ../../compass/sass/_play.scss */
.btn a {
  text-decoration: none;
  color: black !important;
}

/* line 84, ../../compass/sass/_play.scss */
.progress {
  padding-right: 45px;
}

/* line 88, ../../compass/sass/_play.scss */
p {
  font-size: 15px;
}

/*MEDIA QUERIES*/
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  /* line 100, ../../compass/sass/_play.scss */
  h1 {
    margin-left: 0em;
    text-align: center;
  }

  /* line 105, ../../compass/sass/_play.scss */
  #alien img {
    width: 75%;
  }
}
@media only screen and (max-device-width: 375px) {
  /* line 117, ../../compass/sass/_play.scss */
  h1 {
    margin-left: 0em;
    text-align: center;
  }

  /* line 122, ../../compass/sass/_play.scss */
  #alien img {
    width: 75%;
  }
}
@media only screen and (min-device-width: 1024px) {
  /* line 133, ../../compass/sass/_play.scss */
  h1 {
    margin-top: 1em;
    padding-bottom: 1em;
  }

  /* line 138, ../../compass/sass/_play.scss */
  #alien img {
    width: auto;
    margin: auto;
  }
}
/* line 5, ../../compass/sass/_footer.scss */
.main-footer {
  background: #111111;
  border: 4px solid #d9edf7;
  border-style: ridge;
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  line-height: -1em;
  padding-top: 1em;
  font-size: 15px;
}
/* line 15, ../../compass/sass/_footer.scss */
.main-footer .nav {
  color: #d9edf7;
  text-decoration: none !important;
}
/* line 18, ../../compass/sass/_footer.scss */
.main-footer .nav button {
  color: #d9edf7;
  font-size: 15px !important;
  letter-spacing: 2px;
  line-height: -1em;
  background: transparent;
  margin-left: 1rem;
  margin-top: -1rem;
}
/* line 30, ../../compass/sass/_footer.scss */
.main-footer a:hover {
  text-decoration: none;
}
/* line 33, ../../compass/sass/_footer.scss */
.main-footer a:visited {
  text-decoration: none;
}
/* line 36, ../../compass/sass/_footer.scss */
.main-footer a .p-2 {
  color: #d9edf7;
  text-decoration: none !important;
}
/* line 39, ../../compass/sass/_footer.scss */
.main-footer a .p-2:hover {
  color: #74f9fc;
}
/* line 46, ../../compass/sass/_footer.scss */
.main-footer .slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
/* line 53, ../../compass/sass/_footer.scss */
.main-footer .slideThree:after {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
/* line 64, ../../compass/sass/_footer.scss */
.main-footer .slideThree:before {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
/* line 74, ../../compass/sass/_footer.scss */
.main-footer .slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 42px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
/* line 89, ../../compass/sass/_footer.scss */
.main-footer .slideThree input[type=checkbox] {
  visibility: hidden;
}
/* line 91, ../../compass/sass/_footer.scss */
.main-footer .slideThree input[type=checkbox]:checked + label {
  left: 2px;
}
/* line 99, ../../compass/sass/_footer.scss */
.main-footer .player-status {
  margin-top: -5rem;
  margin-left: 83rem;
}
/* line 103, ../../compass/sass/_footer.scss */
.main-footer .player-status .player-status-btn {
  float: right;
  font-family: "Orbitron", sans-serif !important;
  font-size: 1.5rem;
  line-height: 0.25;
  margin-top: 0rem;
  padding: 1rem 1.75rem;
}
/* line 112, ../../compass/sass/_footer.scss */
.main-footer .player-status .btn-1 {
  background: rgba(76, 175, 80, 0.47);
}
/* line 116, ../../compass/sass/_footer.scss */
.main-footer .player-status .btn-2 {
  background: rgba(244, 67, 54, 0.54);
}

/* line 125, ../../compass/sass/_footer.scss */
.footer-page {
  background: url("/assets/bg/scifi-texture.jpg");
  height: 100%;
  min-height: 77em;
  margin-top: -1em;
  z-index: 0;
  overflow-y: hidden;
  font-family: 'Anton', sans-serif;
}
/* line 133, ../../compass/sass/_footer.scss */
.footer-page button {
  background: rgba(9, 12, 39, 0.7);
  border: 4px solid #d9edf7;
  border-style: ridge;
  letter-spacing: 3px;
  margin-left: 30rem;
  margin-top: 11rem;
  width: 60%;
}
/* line 141, ../../compass/sass/_footer.scss */
.footer-page button:hover {
  color: #74f9fc;
}
/* line 147, ../../compass/sass/_footer.scss */
.footer-page .collapse {
  letter-spacing: 1px;
  margin-left: 30rem;
  width: 60%;
  border: 4px solid #d9edf7;
  border-style: ridge;
}
/* line 156, ../../compass/sass/_footer.scss */
.footer-page .instructions .instructions-dropdown {
  background: rgba(9, 12, 39, 0.7);
  color: #d9edf7;
}
/* line 159, ../../compass/sass/_footer.scss */
.footer-page .instructions .instructions-dropdown button {
  border: none;
  border-style: none;
  background: #03a9f4;
  color: #d9edf7;
  margin-left: 18rem;
  margin-top: 3rem;
}
/* line 168, ../../compass/sass/_footer.scss */
.footer-page .instructions .instructions-dropdown li {
  font-size: 1.7rem;
}
/* line 175, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown {
  background: rgba(9, 12, 39, 0.7);
  color: #d9edf7;
}
/* line 178, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown a {
  color: #74f9fc;
}
/* line 180, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown a:hover {
  text-decoration: underline;
  color: lightgreen;
}
/* line 184, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown a:visited {
  text-decoration: none;
}
/* line 187, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown a .attribution-block {
  color: #d9edf7;
  text-decoration: none !important;
}
/* line 190, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown a .attribution-block:hover {
  color: #74f9fc;
}
/* line 195, ../../compass/sass/_footer.scss */
.footer-page .sountrack .soundtrack-dropdown ul {
  list-style: none;
}
/* line 204, ../../compass/sass/_footer.scss */
.footer-page .donate .donate-dropdown {
  background: rgba(9, 12, 39, 0.7);
  color: #d9edf7;
}
/* line 207, ../../compass/sass/_footer.scss */
.footer-page .donate .donate-dropdown button {
  border: none;
  border-style: none;
  background: #03a9f4;
  color: #d9edf7;
  margin-left: 18rem;
  margin-top: 3rem;
}
/* line 215, ../../compass/sass/_footer.scss */
.footer-page .donate .donate-dropdown .card-text {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

/* line 4, ../../compass/sass/_scene.scss */
.scene-wrapper1 {
  background: url("/assets/bg/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 76rem;
  margin-top: -9em;
  font-family: "Orbitron", sans-serif !important;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 4, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 76rem;
    margin-top: 0em;
  }
}
@media (min-width: 1600px) {
  /* line 4, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 82em;
  }
}
@media (min-width: 1700px) {
  /* line 4, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 87em;
  }
}
@media (min-width: 1800px) {
  /* line 4, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 91em;
  }
}
@media (max-width: 736px) {
  /* line 4, ../../compass/sass/_scene.scss */
  .scene-wrapper1 {
    min-height: 600px;
  }
}
/* line 35, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene {
  top: -10rem;
}
/* line 39, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card {
  margin-top: 13em;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
}
/* line 43, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card .scene-bottom {
  height: 16em;
  margin-top: 10em;
  top: 23em !important;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
@media (max-width: 736px) {
  /* line 43, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-card .scene-bottom {
    margin-top: 1em !important;
  }
}
/* line 55, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card .scene-bottom .place {
  font-size: 18px;
  margin-top: -19em;
}
/* line 61, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-card .scene-text .s_text {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
@media (max-width: 1199px) {
  /* line 61, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-card .scene-text .s_text {
    font-size: 18px;
  }
}
@media (max-width: 736px) {
  /* line 61, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-card .scene-text .s_text {
    font-size: 1.4em;
  }
}
/* line 74, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-button {
  margin-top: 64em;
}
@media (max-width: 1199px) {
  /* line 74, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-button {
    margin-top: 71em;
  }
}
@media (max-width: 736px) {
  /* line 74, ../../compass/sass/_scene.scss */
  .scene-wrapper1 .scene-button {
    margin-top: 89em;
  }
}
/* line 82, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-button .btn {
  background: rgba(9, 12, 39, 0.7);
}
/* line 85, ../../compass/sass/_scene.scss */
.scene-wrapper1 .scene-button .btn:focus {
  color: lightgray !important;
}
/* line 90, ../../compass/sass/_scene.scss */
.scene-wrapper1 a {
  text-decoration: none;
}
/* line 92, ../../compass/sass/_scene.scss */
.scene-wrapper1 a .continue {
  background: url("/assets/bg/sci_fi_texture.png");
  color: #ddd;
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  letter-spacing: 10px;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
  position: relative;
  top: 12em;
  left: 12em;
}
/* line 103, ../../compass/sass/_scene.scss */
.scene-wrapper1 a .continue:hover {
  color: #969494;
}

/* line 5, ../../compass/sass/_convo.scss */
.convo-wrapper {
  background: url("/assets/bg/scene_texture.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 74em;
  margin-top: -9em;
  z-index: 0;
  overflow-y: hidden;
}
@media (min-width: 1440px) {
  /* line 5, ../../compass/sass/_convo.scss */
  .convo-wrapper {
    min-height: 74em;
    margin-top: 0em;
  }
}
/* line 21, ../../compass/sass/_convo.scss */
.convo-wrapper .img-fluid {
  height: 20em;
  width: 20em;
  margin-top: 2em;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 31, ../../compass/sass/_convo.scss */
.convo-wrapper .speaker1, .convo-wrapper .speaker2, .convo-wrapper .side-text {
  margin-top: 10em;
  background: transparent;
}
/* line 41, ../../compass/sass/_convo.scss */
.convo-wrapper .header {
  font-family: 'Orbitron', sans-serif !important;
  letter-spacing: 1px;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
}
/* line 47, ../../compass/sass/_convo.scss */
.convo-wrapper .header-2 {
  margin-left: 38.8em;
}
/* line 51, ../../compass/sass/_convo.scss */
.convo-wrapper .convo-side {
  margin-top: 0em;
  top: 23em !important;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 62, ../../compass/sass/_convo.scss */
.convo-wrapper .convo-text {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}
/* line 68, ../../compass/sass/_convo.scss */
.convo-wrapper .btn-secondary {
  background-color: transparent;
  border-color: #868e96;
  width: 100%;
}
/* line 72, ../../compass/sass/_convo.scss */
.convo-wrapper .btn-secondary:hover {
  background-color: #464a4e;
}

/* line 3, ../../compass/sass/_loginnav.scss */
.lognav-wrapper {
  margin-top: 25em;
  margin-left: 24em;
  margin-right: -8em;
}
/* line 8, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .row-nav {
  height: 41em;
  background: transparent;
}
/* line 13, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs, .lognav-wrapper .lognav-content {
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid #d9edf7;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 27, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs {
  height: 6.2em;
}
/* line 30, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs {
  border: none !important;
}
/* line 32, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #040404;
}
/* line 37, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs .nav-link.active, .lognav-wrapper .logtabs .nav-tabs .nav-link {
  border-color: transparent;
}
/* line 39, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-tabs .nav-link.active:hover, .lognav-wrapper .logtabs .nav-tabs .nav-link:hover {
  color: #969494;
  background-color: transparent;
  cursor: pointer;
}
/* line 47, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .logtabs .nav-item {
  color: #74f9fc !important;
  font-size: 20px;
  font-family: "Orbitron", sans-serif !important;
}
/* line 54, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .lognav-content {
  height: 33em;
  margin-top: -1em;
}
/* line 57, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .lognav-content .register-tab {
  height: 25em;
}
/* line 62, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .loggedIn {
  margin-top: 15rem;
  margin-left: 10rem;
  width: 80%;
  letter-spacing: 4px;
}
/* line 68, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .loggedIn .btn-secondary.disabled, .lognav-wrapper .loggedIn .btn-secondary:disabled {
  background-color: transparent !important;
  border-color: transparent;
}
/* line 71, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .loggedIn .btn-secondary.disabled:hover, .lognav-wrapper .loggedIn .btn-secondary:disabled:hover {
  background-color: transparent;
  border-color: transparent;
}
/* line 77, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .loggedIn .btn-secondary {
  background-color: transparent;
  border-color: transparent;
}
/* line 80, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .loggedIn .btn-secondary:hover {
  background-color: transparent;
  border-color: transparent;
}
/* line 84, ../../compass/sass/_loginnav.scss */
.lognav-wrapper .loggedIn .btn-secondary .text {
  font-size: 1.5em;
  letter-spacing: 5px;
  margin-left: 4rem;
  margin-top: -2rem;
  text-align: center;
}

/* line 4, ../../compass/sass/_login.scss */
.login-wrapper .demoForm {
  width: 500px;
  margin: auto;
  color: black;
}
/* line 9, ../../compass/sass/_login.scss */
.login-wrapper .panel-default {
  border-color: transparent;
  background-color: transparent;
  font-family: "Orbitron", sans-serif !important;
  letter-spacing: 1px;
  margin-bottom: -6px;
  text-align: center;
}
/* line 16, ../../compass/sass/_login.scss */
.login-wrapper .panel-default .formErrors {
  color: red;
}
/* line 19, ../../compass/sass/_login.scss */
.login-wrapper .panel-default .formErrors, .login-wrapper .panel-default .panel-message {
  display: flex;
}
/* line 21, ../../compass/sass/_login.scss */
.login-wrapper .panel-default .formErrors p, .login-wrapper .panel-default .panel-message p {
  padding-left: 1em;
}
/* line 28, ../../compass/sass/_login.scss */
.login-wrapper button, .login-wrapper html [type="button"], .login-wrapper [type="reset"], .login-wrapper [type="submit"] {
  -webkit-appearance: none;
}
/* line 32, ../../compass/sass/_login.scss */
.login-wrapper .btn-secondary.disabled, .login-wrapper .btn-secondary:disabled {
  background-color: transparent !important;
  border-color: transparent;
}
/* line 35, ../../compass/sass/_login.scss */
.login-wrapper .btn-secondary.disabled:hover, .login-wrapper .btn-secondary:disabled:hover {
  background-color: transparent;
  border-color: transparent;
}
/* line 41, ../../compass/sass/_login.scss */
.login-wrapper .btn-secondary {
  background-color: transparent;
  border-color: transparent;
}
/* line 44, ../../compass/sass/_login.scss */
.login-wrapper .btn-secondary:hover {
  background-color: transparent;
  border-color: transparent;
}
/* line 50, ../../compass/sass/_login.scss */
.login-wrapper .login-card {
  height: 18em;
  background: transparent !important;
}
/* line 54, ../../compass/sass/_login.scss */
.login-wrapper .login-card .login-content label, .login-wrapper .login-card .login-content input {
  color: #74f9fc;
  font-size: 2.5rem;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
}
/* line 61, ../../compass/sass/_login.scss */
.login-wrapper .login-card .login-content input {
  background: black;
  color: white;
}
/* line 69, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button[disabled] {
  cursor: not-allowed;
  opacity: .65;
}
/* line 72, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button[disabled] a {
  pointer-events: none;
}
/* line 77, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button {
  margin-top: 3em;
  margin-left: 0em;
  display: block;
  text-align: center;
  border-width: 1px 0px 1px 0;
  border-style: solid;
  border-image: linear-gradient(to left, transparent, #74f9fc, transparent);
  border-image-slice: 1;
  cursor: pointer;
}
/* line 88, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button .text {
  letter-spacing: 10px;
}
/* line 90, ../../compass/sass/_login.scss */
.login-wrapper .login-card .button .text a {
  text-decoration: none;
}
/* line 99, ../../compass/sass/_login.scss */
.login-wrapper .login-card .register .button {
  margin-top: 2em;
}

/* line 3, ../../compass/sass/_gamebuttons.scss */
.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-family: "Orbitron", sans-serif !important;
  font-size: 1.8rem;
  padding: 16px 30px 12px 24px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: red;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em grey;
  cursor: pointer;
  letter-spacing: 3px;
}

/* line 23, ../../compass/sass/_gamebuttons.scss */
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

/* line 6, ../../compass/sass/_game.scss */
.game-wrapper {
  background: url("/assets/gifs/game-gifs/outer-space4.gif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  min-height: 76em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 76em;
  }
}
@media (min-width: 1600px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 82em;
  }
}
@media (min-width: 1700px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 87em;
  }
}
@media (min-width: 1800px) {
  /* line 6, ../../compass/sass/_game.scss */
  .game-wrapper {
    min-height: 91em;
  }
}
/* line 31, ../../compass/sass/_game.scss */
.game-wrapper button {
  border-color: transparent !important;
}
/* line 35, ../../compass/sass/_game.scss */
.game-wrapper .fightscreen {
  color: red;
  width: 10rem;
  background: rgba(9, 12, 39, 0.7);
  border: 4px solid #d9edf7;
  border-style: ridge;
  font-family: "Orbitron", sans-serif !important;
  font-size: 8rem;
  margin: auto;
  padding: 3rem;
  text-align: center;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  width: 80%;
}
/* line 50, ../../compass/sass/_game.scss */
.game-wrapper .fightscreen .fight-text {
  font-family: "Orbitron", sans-serif !important;
}
/* line 56, ../../compass/sass/_game.scss */
.game-wrapper .pause {
  z-index: 100;
}
/* line 58, ../../compass/sass/_game.scss */
.game-wrapper .pause .pause-text {
  font-family: "Orbitron", sans-serif !important;
  text-align: center;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}
/* line 66, ../../compass/sass/_game.scss */
.game-wrapper .game-container {
  background: rgba(9, 12, 39, 0.7);
  max-width: 141rem;
  margin-top: 0em;
  max-height: 75em;
}
/* line 73, ../../compass/sass/_game.scss */
.game-wrapper .row1 {
  height: 6em;
  margin: 0.5em;
}
/* line 79, ../../compass/sass/_game.scss */
.game-wrapper .row1 .instructions {
  height: 5em;
}
/* line 83, ../../compass/sass/_game.scss */
.game-wrapper .row1 .countdown {
  float: right;
  font-size: 3rem;
  font-family: "Orbitron", sans-serif !important;
  margin-left: 66rem;
  padding: 0.5rem;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}
/* line 95, ../../compass/sass/_game.scss */
.game-wrapper .row2 {
  height: 33em;
  padding-top: 1rem;
}
/* line 101, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card, .game-wrapper .row2 .player-card {
  height: 23em;
  width: 20em;
  color: white !important;
}
/* line 105, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card, .game-wrapper .row2 .player-card .card {
  border-style: ridge;
  text-transform: uppercase;
}
/* line 108, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card .card-header, .game-wrapper .row2 .enemy-card .card .card-footer, .game-wrapper .row2 .player-card .card .card-header, .game-wrapper .row2 .player-card .card .card-footer {
  font-family: 'Exo 2', sans-serif;
}
/* line 111, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card .card-header, .game-wrapper .row2 .player-card .card .card-header {
  font-size: 1.5rem;
}
/* line 117, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card img, .game-wrapper .row2 .player-card img {
  height: 15em;
  margin-top: -0.4em;
}
/* line 126, ../../compass/sass/_game.scss */
.game-wrapper .row2 .player-card .card {
  border: 4px solid #0c4fab !important;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #0c4fab, 0 0 7px #0c4fab, 0 0 0px #ededf7;
  text-transform: uppercase;
}
/* line 130, ../../compass/sass/_game.scss */
.game-wrapper .row2 .player-card .card .card-header, .game-wrapper .row2 .player-card .card .card-footer {
  background: -webkit-radial-gradient(center, ellipse cover, #3171ca 0%, #080618 91%, #080618 100%) !important;
}
/* line 141, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card {
  border: 4px solid #a94442 !important;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #dc3545, 0px 0px 0px #dc3545, 0 0 7px #dc3545, 0 0 0px #ededf7;
}
/* line 145, ../../compass/sass/_game.scss */
.game-wrapper .row2 .enemy-card .card-header, .game-wrapper .row2 .enemy-card .card-footer {
  background: -webkit-radial-gradient(center, ellipse cover, #732930 0%, #0a0909 98%, #ef0d23 100%) !important;
}
/* line 151, ../../compass/sass/_game.scss */
.game-wrapper .row2 .dice {
  height: 7em;
  text-align: center;
  margin-top: 40em;
}
/* line 156, ../../compass/sass/_game.scss */
.game-wrapper .row2 .playerProgress, .game-wrapper .row2 .enemyProgress {
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.35rem;
  margin: auto;
  text-transform: uppercase;
}
/* line 163, ../../compass/sass/_game.scss */
.game-wrapper .row2 .playerProgress .progress, .game-wrapper .row2 .enemyProgress .progress {
  display: block;
  background-color: transparent;
}
/* line 168, ../../compass/sass/_game.scss */
.game-wrapper .row2 .playerProgress .progress-bar, .game-wrapper .row2 .enemyProgress .progress-bar {
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  border-radius: .25rem;
}
/* line 176, ../../compass/sass/_game.scss */
.game-wrapper .row2 .playerProgress .p_Health .progress-bar, .game-wrapper .row2 .playerProgress .e_Health .progress-bar, .game-wrapper .row2 .enemyProgress .p_Health .progress-bar, .game-wrapper .row2 .enemyProgress .e_Health .progress-bar {
  background-color: #FF4136;
}
/* line 181, ../../compass/sass/_game.scss */
.game-wrapper .row2 .playerProgress .p_AP .progress-bar, .game-wrapper .row2 .playerProgress .e_AP .progress-bar, .game-wrapper .row2 .enemyProgress .p_AP .progress-bar, .game-wrapper .row2 .enemyProgress .e_AP .progress-bar {
  background-color: #03a9f4;
}
/* line 189, ../../compass/sass/_game.scss */
.game-wrapper .row3 {
  height: 20em;
}
/* line 4, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck, .game-wrapper .row3 .player-deck {
  height: 19em;
}
/* line 7, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .p-5, .game-wrapper .row3 .player-deck .p-5 {
  width: 14rem;
}
/* line 14, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck {
  margin-left: -6rem;
}
/* line 16, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck {
  margin-left: 4rem;
  position: relative;
  width: 90%;
}
/* line 21, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck .deck-item {
  margin-top: -1em;
  position: absolute;
  right: -5%;
}
/* line 28, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck-card {
  position: relative;
  width: 100%;
}
/* line 32, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck-card .deck-card-item {
  opacity: 1;
  position: absolute;
  width: 100%;
}
/* line 38, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deck-card .faux {
  opacity: 0;
}
/* line 44, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .card {
  width: 100%;
}
/* line 49, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .deal img {
  height: 9.2rem;
}
/* line 54, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card {
  border: 4px solid #0c4fab;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #0c4fab, 0 0 7px #0c4fab, 0 0 0px #ededf7;
  color: white;
  height: 19rem;
  text-transform: uppercase;
}
/* line 61, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card .card-header, .game-wrapper .row3 .player-deck .player-deck-card .card-footer {
  background: -webkit-radial-gradient(center, ellipse cover, #3171ca 0%, #080618 91%, #080618 100%) !important;
  font-family: 'Exo 2', sans-serif;
}
/* line 67, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .player-deck-card .card-header {
  font-size: 1.5rem;
}
/* line 72, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .card-back-1 {
  margin-top: -19rem;
  position: relative;
  right: 1rem;
}
/* line 79, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .player-deck .back .player-deck-card {
  box-shadow: 0px 1px 0px #ededed, 0 0 1px white, 0 0 0px #74f9fc, 0px 0px 0px #0c4fab, 0 0 7px #0c4fab, 0 0 0px #ededf7;
}
/* line 96, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck {
  margin-left: 2rem;
}
/* line 101, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .back .enemy-deck-card img {
  height: 18.2rem;
}
/* line 107, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deck {
  margin-left: -4rem;
  position: relative;
  width: 90%;
}
/* line 112, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deck .deck-item {
  right: -6%;
  margin-top: -1em;
  position: absolute;
}
/* line 119, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deck-card {
  position: relative;
  width: 100%;
  margin-left: -2rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
}
/* line 126, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deck-card li {
  list-style: none;
}
/* line 130, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deck-card .deck-card-item {
  opacity: 1;
  position: absolute;
  width: 100%;
}
/* line 136, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deck-card .faux {
  opacity: 0;
}
/* line 141, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .card {
  width: 100%;
}
/* line 153, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .card1 .deck-card-item .back {
  margin-top: -19rem;
  margin-left: -1rem;
}
/* line 161, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .deal img {
  height: 9.2rem;
}
/* line 166, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .enemy-deck-card {
  border: 4px solid #a94442;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #dc3545, 0px 0px 0px #dc3545, 0 0 7px #dc3545, 0 0 0px #ededf7;
  color: white;
  height: 19rem;
  text-transform: uppercase;
}
/* line 173, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .enemy-deck-card img {
  height: 11.8rem;
}
/* line 177, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .enemy-deck-card .card-header, .game-wrapper .row3 .enemy-deck .enemy-deck-card .card-footer {
  font-family: 'Exo 2', sans-serif;
  background: -webkit-radial-gradient(center, ellipse cover, #732930 0%, #0a0909 98%, #ef0d23 100%) !important;
}
/* line 182, ../../compass/sass/_deck.scss */
.game-wrapper .row3 .enemy-deck .enemy-deck-card .card-header {
  font-size: 1.17rem;
}
/* line 201, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen {
  margin-top: -34em;
  margin-left: 1em;
  width: 40em;
}
/* line 206, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-detail, .game-wrapper .row3 .attack-screen .attack-image, .game-wrapper .row3 .attack-screen .message {
  background-color: rgba(27, 28, 29, 0.7);
  border: 2px solid gray;
  border-style: ridge;
}
/* line 212, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-detail {
  height: 5rem;
}
/* line 215, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-image {
  height: 27rem;
}
/* line 217, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .attack-image img {
  height: 26.2rem;
}
/* line 221, ../../compass/sass/_game.scss */
.game-wrapper .row3 .attack-screen .message, .game-wrapper .row3 .attack-screen .attack-detail {
  font-family: "Orbitron", sans-serif !important;
  font-size: 1.6rem;
  letter-spacing: 3px;
  height: 3em;
  text-align: center;
}
/* line 236, ../../compass/sass/_game.scss */
.game-wrapper .row4 {
  height: 20em;
}
/* line 238, ../../compass/sass/_game.scss */
.game-wrapper .row4 .card {
  width: 23% !important;
}
/* line 244, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions {
  margin: auto;
  position: relative;
}
/* line 248, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards {
  width: 38%;
  margin-left: -8rem;
  margin-top: 1rem;
  list-style: none;
}
/* line 254, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards .companions-cards-item {
  border: 4px solid #127d2a;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #3c763d, 0px 0px 0px #28a745, 0 0 20px #5cca5e, 0 0 0px #ededf7;
  color: white;
  height: 14rem;
  margin-left: 5rem;
  position: absolute;
  text-transform: uppercase;
}
/* line 262, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards .companions-cards-item img {
  height: 71%;
}
/* line 265, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards .companions-cards-item .card-header {
  font-family: 'Exo 2', sans-serif;
  background: -webkit-radial-gradient(center, ellipse cover, #28a745 0%, #0a0909 98%, #0def48 100%) !important;
}
/* line 269, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards .companions-cards-item .card-footer {
  margin: auto;
  position: relative;
  top: -6rem;
  background: transparent;
}
/* line 275, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards .companions-cards-item .card-header {
  font-size: 1.5rem;
}
/* line 279, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .companions-cards .fake {
  opacity: 0;
}
/* line 285, ../../compass/sass/_game.scss */
.game-wrapper .row4 .companions .start-btn {
  padding: 6px !important;
}
/* line 290, ../../compass/sass/_game.scss */
.game-wrapper .row4 .buttons {
  margin-top: 2rem;
}

/* line 3, ../../compass/sass/_button.scss */
.text {
  background-color: transparent;
  color: #74f9fc;
  display: block;
  margin-bottom: -4px;
  margin-top: -14px;
  font-family: 'Anton', sans-serif;
  font-size: 1em;
  text-shadow: 0 0 13px #17a2b88a, 0 0 32px #17a2b89e;
  text-transform: uppercase;
}

/* line 15, ../../compass/sass/_button.scss */
.line-container {
  width: 230px;
  margin: auto;
  position: relative;
}

/* line 22, ../../compass/sass/_button.scss */
.line {
  position: absolute;
}

/* line 27, ../../compass/sass/_button.scss */
.line--thick {
  width: 6px;
  background-color: #74f9fc;
}

/* line 33, ../../compass/sass/_button.scss */
.line--thin {
  position: absolute;
  height: 1px;
  background: linear-gradient(to left, rgba(199, 255, 247, 0.8), rgba(0, 224, 203, 0.4), rgba(0, 193, 224, 0.4), rgba(0, 193, 224, 0.4), rgba(199, 239, 255, 0.8));
}

/* line 42, ../../compass/sass/_button.scss */
.thick-line--short {
  height: 15px;
  top: -16px;
}

/* line 48, ../../compass/sass/_button.scss */
.thick-line--long {
  height: 40px;
  top: -1px;
}

/* line 54, ../../compass/sass/_button.scss */
.line--top-right {
  right: 0;
  transform: skew(45deg);
  box-shadow: 0px 0px 13px #17a2b87a, -12px -8px 25px 3px #17a2b87a;
}

/* line 61, ../../compass/sass/_button.scss */
.line--top-left {
  left: 0px;
  transform: skew(-45deg);
  box-shadow: 12px -8px 25px 3px #17a2b8b8, 0px 0px 13px #17a2b8a6;
}

/* line 68, ../../compass/sass/_button.scss */
.line--bottom-right {
  right: 12px;
  transform: skew(-45deg);
  box-shadow: -12px 3px 22px 3px #17a2b8b5, 0px 0px 13px #17a2b8b5;
}

/* line 75, ../../compass/sass/_button.scss */
.line--bottom-left {
  left: 12px;
  transform: skew(45deg);
  box-shadow: 12px 3px 22px 3px #17a2b8c2, 0px 0px 13px #17a2b8b3;
}

/* line 82, ../../compass/sass/_button.scss */
.line--top {
  width: 214px;
  top: -17px;
  left: 8px;
  box-shadow: 0px 5px 34px 5px #17a2b857;
}

/* line 90, ../../compass/sass/_button.scss */
.line--bottom {
  width: 160px;
  top: 38px;
  left: 35px;
  box-shadow: 0px -5px 34px 5px #17a2b84f;
}

/* line 97, ../../compass/sass/_button.scss */
.pseudo-class-shadow, .line-container::before, .line-container::after, .line--top-left::before, .line--top-left::after, .line--top-right::before, .line--top-right::after, .line--bottom-right::before, .line--bottom-right::after, .line--bottom-left::before, .line--bottom-left::after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
}

/* line 105, ../../compass/sass/_button.scss */
.line-container::before {
  width: 40px;
  box-shadow: -20px 10px 45px 4px #74f9fc;
}

/* line 110, ../../compass/sass/_button.scss */
.line-container::after {
  width: 40px;
  box-shadow: 207px -12px 45px 4px #17a2b8bf;
}

/* line 116, ../../compass/sass/_button.scss */
.line--top-left::before {
  box-shadow: 28px 20px 34px 3px #17a2b87a;
}

/* line 120, ../../compass/sass/_button.scss */
.line--top-left::after {
  box-shadow: 48px 20px 34px 3px #17a2b87a;
}

/* line 125, ../../compass/sass/_button.scss */
.line--top-right::before {
  box-shadow: -48px 20px 34px 3px #17a2b8bd;
}

/* line 130, ../../compass/sass/_button.scss */
.line--top-right::after {
  box-shadow: -58px 20px 34px 3px #17a2b8ba;
}

/* line 135, ../../compass/sass/_button.scss */
.line--bottom-right::before {
  box-shadow: -42px 9px 44px 5px #17a2b89e;
}

/* line 140, ../../compass/sass/_button.scss */
.line--bottom-right::after {
  box-shadow: -52px 10px 44px 5px #17a2b88f;
}

/* line 145, ../../compass/sass/_button.scss */
.line--bottom-left::before {
  box-shadow: 32px 10px 44px 5px #17a2b88a;
}

/* line 150, ../../compass/sass/_button.scss */
.line--bottom-left::after {
  box-shadow: 42px 10px 44px 5px #17a2b88a;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
/* line 44, ../../compass/sass/_hover.scss */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 51, ../../compass/sass/_hover.scss */
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* line 10, ../../compass/sass/_map.scss */
.map-wrapper {
  background: url("/assets/bg/scifi-texture.jpg");
  background-size: contain;
  background-position: center;
  height: 100%;
  min-height: 76em;
  margin-top: -9em;
  z-index: 0;
}
@media (min-width: 1440px) {
  /* line 10, ../../compass/sass/_map.scss */
  .map-wrapper {
    min-height: 76em;
    margin-top: 0em;
  }
}
/* line 25, ../../compass/sass/_map.scss */
.map-wrapper .button {
  cursor: pointer;
}
/* line 27, ../../compass/sass/_map.scss */
.map-wrapper .button .text {
  letter-spacing: 5px;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
/* line 35, ../../compass/sass/_map.scss */
.map-wrapper .grid {
  margin-top: 6em;
  border: 5px solid rgba(119, 75, 12, 0.8);
  border-style: ridge;
  background: rgba(9, 12, 39, 0.7);
  background-size: cover;
  border: 4px solid gray;
  border-style: ridge;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #74f9fc, 0px 0px 0px #00ffff, 0 0 20px #f7eaf5, 0 0 20px #2753c4, 0 0 0px #ededf7;
}
/* line 44, ../../compass/sass/_map.scss */
.map-wrapper .grid .row {
  border: gray;
}
/* line 46, ../../compass/sass/_map.scss */
.map-wrapper .grid .row .cell {
  border: 1px dotted #cccccc85;
  background: transparent;
  height: 8em;
}
@media (min-width: 1360px) {
  /* line 46, ../../compass/sass/_map.scss */
  .map-wrapper .grid .row .cell {
    height: 7em;
  }
}
/* line 60, ../../compass/sass/_map.scss */
.map-wrapper .orb {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%) rotate(30deg);
  width: 50px;
  height: 50px;
  box-shadow: 1px 10px 50px -20px, inset -1px 30px 50px -10px #fff, inset -1px -30px 50px -10px #210, inset 0 120px 7px -70px rgba(255, 255, 240, 0.2);
  z-index: 0;
}
/* line 81, ../../compass/sass/_map.scss */
.map-wrapper .orbs {
  -webkit-filter: blur(1px) contrast(20) blur(15px);
  cursor: disabled;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  box-shadow: 0 0 50px -20px #7cc2fb;
  z-index: 40;
}
/* line 99, ../../compass/sass/_map.scss */
.map-wrapper .active .orbs:before {
  cursor: pointer;
  -webkit-filter: blur(8px);
  content: '';
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  opacity: 0.8;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  animation: spin2 6s infinite linear;
  background-color: #7cc2fb;
  background-image: linear-gradient(transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%), linear-gradient(90deg, transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%);
  z-index: 10;
  box-shadow: 0 0 50px -20px #7cc2fb;
}
/* line 129, ../../compass/sass/_map.scss */
.map-wrapper .active .orbs:after {
  cursor: pointer;
  -webkit-filter: blur(5px);
  content: '';
  display: block;
  position: absolute;
  opacity: 0.5;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 200px;
  height: 200px;
  animation: spin1 10s infinite linear;
  background: linear-gradient(transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%), linear-gradient(90deg, transparent 29.29%, rgba(9, 12, 39, 0.7) 29.29%, #74f9fc 70.71%, transparent 70.71%);
  z-index: 10;
  box-shadow: 0 0 50px -20px #7cc2fb;
}
@keyframes spin1 {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
@keyframes spin2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
/* line 4, ../../compass/sass/_loader.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 8, ../../compass/sass/_loader.scss */
html, body {
  font-family: "Press Start 2P", Arial, sans-serif;
  background: #202020;
}

/* line 14, ../../compass/sass/_loader.scss */
.preload {
  background: black;
  margin: auto;
  width: 28em;
}
/* line 19, ../../compass/sass/_loader.scss */
.preload .preload-status {
  overflow: hidden;
  height: 50px;
  border-left: 2px solid #3d3d3d;
  border-right: 2px solid #3d3d3d;
}
/* line 26, ../../compass/sass/_loader.scss */
.preload .preload-status-bar {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background: #74f9fc;
  border: 1px solid #2f99ff;
  box-shadow: 0px 0px 4px 1px #2F92FF;
  left: -200px;
  animation: preload-status-animate 1.5s infinite cubic-bezier(0.75, 0, 0.25, 1);
}
/* line 38, ../../compass/sass/_loader.scss */
.preload .preload-status-info {
  opacity: 1;
  margin-top: -22px;
  width: 100%;
  height: 30px;
  font-family: "Press Start 2P", Arial, sans-serif;
  text-align: center;
  color: #74f9fc;
  text-shadow: 0px 1px #255fcc;
  animation: preload-status-animate-2 1.5s infinite cubic-bezier(0.75, 0, 0.25, 1);
}
@keyframes preload-status-animate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}
@keyframes preload-status-animate-2 {
  100% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
/* line 6, ../../compass/sass/_character.scss */
.char-wrapper {
  background: url("/assets/bg/scifi-texture.jpg");
  background-size: contain;
  background-position: center;
  height: 100%;
  min-height: 76em;
  z-index: 0;
}
/* line 14, ../../compass/sass/_character.scss */
.char-wrapper .char-container {
  color: red;
  height: 72rem;
  width: 10rem;
  background: rgba(9, 12, 39, 0.7);
  border: 4px solid #d9edf7;
  border-style: ridge;
  font-family: "Orbitron", sans-serif !important;
  font-size: 4rem;
  margin: auto;
  padding: 3rem;
  text-align: center;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  width: 80%;
  /* .roundedOne */
  /* end .roundedOne */
  margin: auto;
}
/* line 31, ../../compass/sass/_character.scss */
.char-wrapper .char-container .roundedOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin-left: 7.25rem !important;
  background: #fcfff4;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 40, ../../compass/sass/_character.scss */
.char-wrapper .char-container .roundedOne label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
/* line 53, ../../compass/sass/_character.scss */
.char-wrapper .char-container .roundedOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: linear-gradient(top, #27ae60 0%, #145b32 100%);
  opacity: 0;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 66, ../../compass/sass/_character.scss */
.char-wrapper .char-container .roundedOne label:hover::after {
  opacity: 0.3;
}
/* line 71, ../../compass/sass/_character.scss */
.char-wrapper .char-container .roundedOne input {
  position: absolute;
  margin-left: -0.7rem;
  z-index: 100;
  margin-top: 0.6rem;
  /* visibility: hidden; */
  opacity: 0;
}
/* line 80, ../../compass/sass/_character.scss */
.char-wrapper .char-container .roundedOne input[type=radio]:checked + label:after {
  opacity: 1;
}
/* line 85, ../../compass/sass/_character.scss */
.char-wrapper .char-container .char-text {
  font-family: "Orbitron", sans-serif !important;
}
/* line 89, ../../compass/sass/_character.scss */
.char-wrapper .char-container .companions-card {
  border: 4px solid #127d2a;
  box-shadow: 0px 1px 0px #ededed, 0 0 4px white, 0 0 0px #3c763d, 0px 0px 0px #28a745, 0 0 20px #5cca5e, 0 0 0px #ededf7;
  color: white;
  height: 20rem;
  width: 78%;
  text-transform: uppercase;
}
/* line 96, ../../compass/sass/_character.scss */
.char-wrapper .char-container .companions-card img {
  height: 80%;
}
/* line 99, ../../compass/sass/_character.scss */
.char-wrapper .char-container .companions-card .card-header {
  background: -webkit-radial-gradient(center, ellipse cover, #28a745 0%, #0a0909 98%, #0def48 100%) !important;
  letter-spacing: 3px;
}
/* line 104, ../../compass/sass/_character.scss */
.char-wrapper .char-container .companions-card .card-footer {
  margin: auto;
  position: relative;
  top: -6rem;
  background: transparent;
}
/* line 110, ../../compass/sass/_character.scss */
.char-wrapper .char-container .companions-card .card-header {
  font-size: 1.5rem;
}

/* line 27, ../../compass/sass/styles.scss */
.efaGep {
  color: #39CCCC !important;
}

/* line 33, ../../compass/sass/styles.scss */
.logged-out-col {
  margin: auto;
}
/* line 35, ../../compass/sass/styles.scss */
.logged-out-col .logged-out {
  background: rgba(9, 12, 39, 0.7);
  border: 4px solid #d9edf7;
  border-style: ridge;
  height: 25rem;
  margin-top: 30rem;
}
/* line 41, ../../compass/sass/styles.scss */
.logged-out-col .logged-out .logged-out-text {
  color: red;
  font-family: "Orbitron", sans-serif !important;
  font-size: 2rem;
  margin: auto;
  padding: 3rem;
  text-align: center;
  text-shadow: -1px 1px 0 #ccc, 0 3px 0 #bbb, -8px -5px 1px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 0px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), -1px -2px 0px rgba(0, 0, 0, 0.15);
}
/* line 50, ../../compass/sass/styles.scss */
.logged-out-col .logged-out .start-btn {
  width: 98.6%;
  margin-top: 4rem;
}

/* line 60, ../../compass/sass/styles.scss */
.audio {
  display: none;
}

/* line 65, ../../compass/sass/styles.scss */
.scoreboard {
  font-size: 2.5rem;
}

/* line 74, ../../compass/sass/styles.scss */
.flashing {
  -webkit-animation: glowing 200ms infinite;
  -moz-animation: glowing 200ms infinite;
  -o-animation: glowing 200ms infinite;
  animation: glowing 200ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #B20000;
    -webkit-box-shadow: 0 0 3px #B20000;
  }
  50% {
    background-color: #FF0000;
    -webkit-box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #B20000;
    -webkit-box-shadow: 0 0 3px #B20000;
  }
}
@-moz-keyframes glowing {
  0% {
    background-color: #B20000;
    -moz-box-shadow: 0 0 3px #B20000;
  }
  50% {
    background-color: #FF0000;
    -moz-box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #B20000;
    -moz-box-shadow: 0 0 3px #B20000;
  }
}
@-o-keyframes glowing {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
}
@keyframes glowing {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
/* line 126, ../../compass/sass/styles.scss */
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 133, ../../compass/sass/styles.scss */
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active, .buzz {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* line 159, ../../compass/sass/styles.scss */
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 166, ../../compass/sass/styles.scss */
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active, .pulse {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
