*{
    color: white;
    font-family: 'Ek Mukta', sans-serif;
  
  
  }
  
  #bg{
    position: fixed;
    top: 0;
    left: 0;
    /*preserve aspect ration */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  
  }
  
  audio {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  
  .header{
    color: white;
    margin-left: 10px;
    font-family: 'Orbitron', sans-serif !important;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
  
  
  #health {
      float: right;
      margin-right: 394px;
      font-size: 20px;
  }
  
  #userHealth, #alienHealth{
      color: black;
  }
  
  #message{
      font-size: 20px;
      background: black;
      color: white; 
  }
  
  #bars{
    background: green;
    display: flex;
    font-size: 17px;
    padding: 10px;
  
  }
  
  #dice{
   margin-top: 10px; 
  }
  
  
  .btn{
    margin-top: 10px; 
    margin-right: 10px;
    font-size: 20px; 
  }
  
  
  .btn a{
    text-decoration: none;
    color: black !important;
  
  }
  
  
  .progress{
    padding-right: 45px; 
  }
  
  p{
    font-size: 15px; 
  }
  
  
  /*MEDIA QUERIES*/
  
  
  @media only screen 
  and (min-device-width : 360px) 
  and (max-device-width : 736px) { 
  
    h1{
      margin-left: 0em;
      text-align: center;
    }
  
    #alien img{
      width: 75%;
    }
  
    #message{
  
    }
  }
  
  
  @media only screen and (max-device-width: 375px){
  
    h1{
      margin-left: 0em;
      text-align: center;
    }
  
    #alien img{
      width: 75%;
    }
  
  }
  
  
  
  
  @media only screen and (min-device-width: 1024px){
  
    h1{
      margin-top: 1em;
      padding-bottom: 1em; 
    }
  
    #alien img{
      width: auto; 
      margin: auto
    }
  
    
  }
  
  