$navy: #001f3f;
$blue: #0074d9;
$aqua:#7FDBFF;
$teal:#39CCCC;
$oliva:#3D9970;
$green:#2ECC40;
$lime:#01FF70;
$yellow: #FFDC00;
$orange:#FFDC00;
$red:#FF4136;
$maroon:#FF4136;
$fuschia:#F012BE;
$purple:#F012BE;
$black:#111111;
$gray:#969494;
$dark-gray: #464a4e; 
$silver:#DDDDDD; 
$bisque: #ffe4c4;
$res-color: #fec057;
$abt-color: #e04006;
$light-gray: #ddd; 

// FONT-SIZE
$big: 26px;
$med: 20px;
$sml: 18px;  